@page
@using Setoma.CompSci.Dis.FiftyBest.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Fifty Best Restaurants</h1>
    <p> Hungry are you? And too classy for MCDonalds</a>?</p>
    <p> Well, heres our lists of the fifty best restaurants around the world since 2002 </a>.</p>
</div>

<div class="text-center">
    @if (!(Model.Error == null)) 
    {
        <div class="alert alert-danger">@Model.Error</div>
    }
    <form class="form" method="post">
        <label for="years">Enter Year between 2002 and 2023:</label>
        <input type="text" id="years" name="years" required />
        <input type="submit" value="Submit" asp-page-handler="Year" />
        <input type="hidden" asp-for="Years" />
    </form>
</div>

<div class="text-center">
    <form method="post" asp-page-handler="CountryButton">
        <label for="country">Select a country:</label>
        <select id="country" name="country">
            @foreach (Country country in Model.Countries)
            {
                <option value="@country.Name">@country.Name</option>
            }
        </select>
        <button type="submit">Filter</button>
        <input type="hidden" asp-for="Years" />
    </form>
</div>

@if (Model.Country != null)
{
    <div class="text-center">
        <form method="post" asp-page-handler="CityButton">
            <label for="city">Select a city:</label>
            <select id="city" name="city">
                @foreach (City city in Model.Cities)
                {
                    <option value="@city.Name">@city.Name</option>
                }
            </select>
            <button type="submit">Filter</button>
            <input type="hidden" asp-for="Years" />
            <input type="hidden" asp-for="Country" />
        </form>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Rank</th>
            <th>Restaurant</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ranking restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Year</td>
                <td>@restaurant.Rank</td>
                <td><a asp-page="/Restaurant" asp-route-id="@restaurant.Id">@restaurant.Name</a></td>
                <td>@restaurant.City</td>
            </tr>
        }
    </tbody>

</table>
