@page
@using Setoma.CompSci.Dis.FiftyBest.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Fifty Best Restaurants</h1>
    <p> Hungry are you? And too classy for MCDonalds</a>?</p>
    <p> Well, heres our lists of the fifty best restaurants around the world since 2002 </a>.</p>
</div>

<div class="text-center">
    <form class="form" method="post">
        <label for="year">Enter Year between 2002 and 2023:</label>
        <input type="text" id="year" name="year" required />
        <input type="submit" value="Submit" asp-page-handler="Year" />
    </form>
</div>

<div class="text-center">
    <form method="post" asp-page-handler="CountryButton">
        <label for="country">Select a country:</label>
        <select id="country" name="country">
            @foreach (var country in Model.Countries)
            {
                <option value="@country.Name">@country.Name</option>
            }
        </select>
        <button type="submit">Filter</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Rank</th>
            <th>Restaurant</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Restaurant restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Year;</td>
                <td>@restaurant.Rank;</td>
                <td>@restaurant.Name;</td>
                <td>
                    <form method="post" asp-page-handler="CityButton">
                            <button type="submit" name="city" value="@restaurant.City">@restaurant.City</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>
