@page "{id:int}"
@model Setoma.CompSci.Dis.FiftyBest.Pages.RestaurantModel
@{
}

<div class="text-center">
    <h1 class="display-4">@Model.Restaurant?.Name</h1>
    <p>@Model.Restaurant?.City</p>
    @if (Model.IsAuthenticated)
    {
        <form method="post" name="toggle">
            @Html.LabelFor(m => m.HasVisited)
            @Html.CheckBoxFor(m => m.HasVisited, new { onClick = "document.toggle.submit();" })
        </form>
    }
</div>

 @if (Model.HasVisited) 
 {
   
    <div class="text-center">
    <form class="form" method="post">
        <label for="score">Give a Score</label>
        <input type="text" id="score" name="score" required />
        <input type="submit" value="Submit" asp-page-handler="Score" />
    </form>
    <p> Scores from 0 to 5, with increments of 0.5</p>
    </div>
 }


<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var restaurant in Model.Rankings)
    {
        <tr>
            <td>@restaurant.Year</td>
            <td>@restaurant.Rank</td>
        </tr>
    }
    </tbody>
</table>