@page
@model AuthNModel
@{
    ViewData["Title"] = @User.Identity?.Name ?? "Log in";
}
<h1>@ViewData["Title"]</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
<form method="post">
    <button type="submit" asp-page-handler="logout">Log out</button>
</form>

<div class="text-center">
    <form method="post" asp-page-handler="ChangeUsername">
        <label for="new_userName">New username:</label>
        <input type="text" id="new_userName" name="new_userName" required />
        <input type="submit" value="Change" />
        <input type="hidden" name="userName" value="@User.Identity.Name" />
    </form>
</div>

<h2>Restaurants visited</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model.Restaurants)
            {
                <tr>
                    <td><a asp-page="/Restaurant" asp-route-id="@restaurant.Id">@restaurant.Name</a></td>
                    <td>@restaurant.City</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

<p>Type your user name to log in.</p>
<p>Since this is just a demo site, it requires no password.</p>
<p>The first time you supply a new user name, it will automatically be saved in the database. Thus, no explicit 'register user' process is required.</p>
<form method="post">
    <input type="text" name="userName" />
    <button type="submit">Log in</button>
</form>
}
